*{
    margin: 0;
    padding: 0;;
}
.mainPart{
    border: 2px rgb(238,237,238);
    display: flex;
    
    margin: auto;
    justify-content: center;
    align-items: center;

}
.mainImg {

    width: 40vh;
    border-radius: 10px;
}